@use 'EntrySection.scss';
@use 'AboutSection.scss';
@use 'ProjectsSection.scss';
@use 'ContactSection.scss';
@use 'NavBar.scss';
@use './partials/colorVariables';
.App{
  background-color: #272727;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 15% 0 15%;
}

.intext-accent{
  color: colorVariables.$accent-color;
}

a:visited{
    color: white;    
}

